.beers-wrapper {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
}



.beers-index {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0px
}

.beers-index > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2% 15px;

}

.beers-index > :first-child {

  width: 70%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
  box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
}
.beers-index > :last-child {
  width: 28%;
  padding: 0;

}

.beer-item-wrapper {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.beer-item-container {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;


}

.beer-item-main {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}

.beer-item-main > div {
  box-sizing: border-box;
}

.col-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex: 2.3;
  height: 100%;
}

.col-1 > div {
  width: 100%;
  height: auto;
}

.col-2 {
  flex: 7;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.col-3 {
  flex: 1.4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.wish-add {
  background: #ffad0d;
  text-align: center;
  width: 58px;
  height: 58px;;
  color: white;
  font-size: 60px;
  font-family: monospace;
  font-weight: 850;
  line-height: 100%;
  position: relative;
  user-select: none;

}


.wishlist-dropdown {
  visibility: hidden;
  position: absolute;
  width: 80px;
  background-color: rgba(0, 0, 0, .6);
  line-height: normal;
  font-size: 13px;
  box-sizing: content-box;
  padding: 5px;
  right: -15px;
  font-size: 12px;
  top: 60px;
  z-index: 99;
  font: 'Oxygen'

}

.wish-add:hover {
  background-color: rgb(176, 118, 4);
  cursor: pointer;
}


.wish-add:hover .wishlist-dropdown {
  visibility: visible;
}
.wishlist-dropdown:hover {
  visibility: hidden;
}

.beer-item-bottom {
  flex: 1;
  border-top: .6px solid rgb(231, 231, 230);
  border-bottom: .6px solid rgb(231, 231, 230);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: rgb(142, 140, 141);
}
.beer-item-bottom > div {
  text-align: center;
  box-sizing: border-box;
  border-right: .6px solid rgb(231, 231, 230);
  padding: 7px 5px;


}

.beer-item-bottom > :last-child {
  border-right: none;
}

.img-container {
  height: 40px;
  width: 35px;
}

.bottom-left {
  flex: 1;

}

.beer-rating {
  flex: 1.7;
}
.bottom-right {
  flex: 1.6;
}

.bottom-right-first {
  flex: 1.3
}

.col-2 > div {
}

.beer-name {
  font-size: 24px;
  color: rgb(196, 118, 0);
  padding-bottom: 0;
  letter-spacing: 1.5px;
}

.brewery-name {
  color: rgb(196, 118, 0);
  font-size: 17px;
  padding-top: 0px;
  margin-bottom: 9px;

}



.wishlist-beer {
  font-size: 18px;
  color: rgb(196, 118, 0);
  padding-bottom: 0;
  letter-spacing: 1.5px;
  width: 100%;
  overflow: hidden;
}

.brewery-like-items {
  font-size: 18px;
  color: rgb(196, 118, 0);
  padding-bottom: 0;
  width: 100%;
  overflow: hidden;
}

.wishlist-brewery {
  color: rgb(142, 140, 141);
  font-size: 14px;
  padding-top: 0px;
  margin-bottom: 9px;

}

.beer-style {
  color: rgb(97, 96, 96);
  font-size: 15.5px;
  margin-bottom: 8px;
}

.beer-description {
  color: rgb(142, 140, 141);
}

.top-beers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
  box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
  padding: 6.2% 10px;
  margin-bottom: 5%;

}

.rating-stars {
  letter-spacing: 5px;
  font-size: 16px;
  color: #ffad0d;
}

.top-beers-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

.top-beers-item > :first-child {
  width: 40px;
  margin-right: 10px;
}

.top-beers-item > :last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-side {
  width: 100%;
  padding-bottom: 5%;
}

.beers-index-title {
  font-size: 30px;
}

.top-star {
  unicode-bidi: bidi-override;
  position: relative;
  margin: 0 auto;
  width: 100px;
  font-size: 20px;
  overflow: hidden;

}
.ratings-bottom {
  display: absoulte;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: red;
}

.rating-bar {
  width: 70%;
}

.wish-remove {
  line-height: 90%;
  background-color: rgba(115, 113, 113, 0.5);
}

.wish-remove:hover {
  background-color: rgba(115, 113, 113, 0.9);
  color: rgb(255, 98, 98);

}

.beer-header {
  margin-bottom: 1%;
  align-self: flex-start;
  margin-left: 2.2%;
  font: 'Rubik', sans-serif;
  // font-size: 30px;
  letter-spacing: 1.5px;
  font-weight: 800;
  font-size: 33px;
  display: flex;
  flex-direction: column;
  // height: 55%;


}

.beer-filter {
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 2.2%;
  width: 100%;
  margin-top: 2%;


}

.beer-filter > div {
  margin-right: 3%;
}

.orange-line {
  border-top: 1px solid #ffad0d;
  width: 100%;

}

.beers-feed-show {
  width: 100% !important;
  padding-top: 1% !important;
}

.beer-show-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.beer-show-end > div:first-child {
  width: 60%;
}

.beer-show-main {
  margin-bottom: 2%;

}

.beer-show-name {
  font-size: 30px;
  padding-top: 0;

}

.beer-show-brewery {
  font-size: 20px;
}

.col-1-beer-show {
  flex: 1;
}

.col-2-beer-show {
  flex: 2.2;
}

.stats-container {
  flex: 1.2;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;

}

.stats-col-1 {
  width: 50%;
  border-right: 1px solid rgb(205, 205, 205);
  box-sizing: inherit;
  // width: 100%;

}
.stats-col-1 > div {
  width: 100%;
  text-align: center;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.stats-col-1 > div:first-child {
  border-bottom: 1px solid rgb(205, 205, 205);
}

.stats-col-2 {
  width: 50%;
  box-sizing: inherit;


}

.stats-col-2 > div:first-child {
  border-bottom: 1px solid rgb(205, 205, 205);
}

.stats-col-2 > div {

  box-sizing: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5%;
}

.beer-stats-display {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.beer-show-end {

  font-size: 18px;
  padding: 3% 3%;
  margin-bottom: 1%;
  border-bottom: 1px solid rgb(205, 205, 205);
}

.beer-show-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.beer-show-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.beer-show-header {
  width: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  -webkit-box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
  box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);

  background-image: url('/images/hops-background.jpg');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: cover;
  background-color: rgba(0,0,0,0.75); // Tint color
  background-blend-mode: multiply;
}

.beer-show-color {
  color: white !important;
}

.beer-showpage-name {
  color: white;
  font-size: 33px;
}

.beer-showpage-brewery {
  color: white;
  font-size: 25px;
}

.beer-showpage-style {
  color: white;
}

.beer-showpage-description {
  color: white;
}

.beer-showpage-bottom {
  flex: 1;
  border-top: .6px solid white;
  border-bottom: .6px solid white;

  color: white;
}

.show-more {
  background-color: #ffad0d;
  color: white;
  width: 30%;
  text-align: center;
  padding: 1% 3%;
  border-radius: 4px;
}

.show-more:hover {
  cursor: pointer;
  background-color: rgb(177, 123, 18);
}
