.beers-wrapper {
  margin-top: 60px;
  width: 100%;
  display: flex;
  // background-color: red;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  // letter-spacing: 1px;
  min-height: 100%;

}



.beers-index {
  width: 1000px;
  // background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding-top: 25px;
  -webkit-box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);
  box-shadow: 0px 0px 61px -29px rgba(0,0,0,1);


}

.beers-index > div {
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 15px;

}

.beers-index > :first-child {
  width: 75%;
  // margin8right:
  // background-color: gray;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
.beers-index > :last-child {
  width: 25%;
  // background-color: gray;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.beer-item-wrapper {
  // padding-top: 20px;
  // background-color: green;
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.beer-item-container {
  margin: 0;
  padding: 0;
  width: 100%;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;

  // padding-top: 5%;
  // padding-bottom: 5%;
}

.beer-item-main {
  display: flex;
  // background-color: orange;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  // height: 145px;
  margin-bottom: 25px;
}

.beer-item-main > div {
  // border: 1px solid blue;
  box-sizing: border-box;

}

.col-1 {
  // background-color: blue;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex: 2.3;
  height: 100%;
}

.col-1 > div {
  width: 100%;
  height: auto;
}

// .col-1 > img {
//   height: 10px;
// }
.col-2 {
  flex: 7;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.col-3 {
  flex: 1.4;
  // border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wish-add {
  background: #ffad0d;
  text-align: center;
  width: 58px;
  height: 58px;;
  color: white;
  font-size: 60px;
  font-family: monospace;
  font-weight: 850;
  line-height: 100%;
  position: relative;
  user-select: none;

}


.wishlist-dropdown {
  visibility: hidden;
  position: absolute;
  width: 80px;
  // z-index: 999;
  background-color: rgba(0, 0, 0, .6);
  line-height: normal;
  // color: black;
  font-size: 13px;
  // padding: 5px 20px;
  box-sizing: content-box;
  padding: 5px;
  right: -15px;
  font-size: 12px;
  top: 60px;
  font: 'Oxygen'

  // right: 10px;

}

.wish-add:hover {
  background-color: rgb(176, 118, 4);
  cursor: pointer;
  // transition: .5s;
}


.wish-add:hover .wishlist-dropdown {
  visibility: visible;
}
.wishlist-dropdown:hover {
  visibility: hidden;
}

.beer-item-bottom {
  flex: 1;
  border-top: .6px solid rgb(231, 231, 230);
  border-bottom: .6px solid rgb(231, 231, 230);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  // height: 40px;
  // padding: 5px 0;
  color: rgb(142, 140, 141);
}
.beer-item-bottom > div {
  // border: 1px solid red;
  text-align: center;
  box-sizing: border-box;
  border-right: .6px solid rgb(231, 231, 230);
  padding: 7px 5px;


}

.beer-item-bottom > :last-child {
  border-right: none;
}

.img-container {
  height: 40px;
  width: 35px;
  // background-color: red
}

.bottom-left {
  flex: 1;

}

.beer-rating {
  flex: 1.7;
}
.bottom-right {
  flex: 1.6;
}

.bottom-right-first {
  flex: 1.3
}

.col-2 > div {
  // padding: 3px 0;
}

.beer-name {
  font-size: 24px;
  color: rgb(196, 118, 0);
  padding-bottom: 0;
  letter-spacing: 1.5px;
}

.brewery-name {
  color: rgb(196, 118, 0);
  font-size: 15.5px;
  padding-top: 0px;
  margin-bottom: 9px;

}

.wishlist-beer {
  font-size: 18px;
  color: rgb(196, 118, 0);
  padding-bottom: 0;
  letter-spacing: 1.5px;
}

.wishlist-brewery {
  color: rgb(142, 140, 141);
  font-size: 14px;
  padding-top: 0px;
  margin-bottom: 9px;

}

.beer-style {
  color: rgb(97, 96, 96);
  font-size: 15.5px;
  margin-bottom: 8px;
}

.beer-description {
  color: rgb(142, 140, 141);
}

.top-beers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.top-beers-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: center;
}

.top-beers-item > :first-child {
  width: 40px;
  margin-right: 10px;
}

.top-beers-item > :last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// .header-main {
//   width: 100%;
//   padding-bottom: 30px;
//   visibility: hidden;
// }

// .beer-item-container > :first-child {
//   visibility: visible;
// }

.header-side {
  width: 100%;
  padding-bottom: 5%;
}

.beers-index-title {
  font-size: 30px;
}

.top-star {
  unicode-bidi: bidi-override;
  position: relative;
  // border: 2px solid red;
  margin: 0 auto;
  width: 100px;
  // height: 20px;
  font-size: 20px;
  overflow: hidden;



}
// .ratings-top {
//   position: absolute;
//   top: 0px;
//   left: 50px;
//   z-index: 1;
//   // overflow: hidden;
//   // width: 15%;
//   top: 0;
//   left: 0;
//   // width: 100px;
//   // height: 20px;
//   padding: 0;
//   // border: 1px solid blue;
//   margin-left: -70px;
//   // padding-right: 104px;
//
//
// }
.ratings-bottom {
  display: absoulte;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: red;
}

.rating-bar {
  width: 70%;
}

.wish-remove {
  // background: #ffad0d;
  // text-align: center;
  // width: 58px;
  // height: 58px;;
  // color: white;
  // font-size: 60px;
  // font-family: monospace;
  // font-weight: 850;
  // line-height: 100%;
  // position: relative;
  // user-select: none;
  line-height: 90%;
}

.wish-remove:hover {
  color: rgb(252, 96, 96);

}

.beer-header {
  // background-color: red;
  margin-bottom: 1%;
  align-self: flex-start;
  margin-left: 2.2%;
  font: 'Rubik', sans-serif;
  // font-size: 30px;
  letter-spacing: 1.5px;
  font-weight: 800;
  font-size: 33px;
  display: flex;
  flex-direction: column;
  // height: 55%;


}

.beer-filter {
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;;
  justify-content: flex-start;
  margin-left: 2.2%;
  width: 100%;
  margin-top: 2%;
  // height: 20%;

}

.beer-filter > div {
  margin-right: 3%;
}

.orange-line {
  border-top: 1px solid #ffad0d;
  // height: 1px;
  width: 100%;

}
