.brewery-name-wrapper {
  margin-bottom: 2%;
}

.brewery-form {
  font-size: 14px;
  color: #666666;
}

.brewery-upload {
  margin-bottom: 0 !important;
}

.brewery-form-bottom {
  margin-top: 2%;
}

.address-inputs > input {
  padding: 1.5% 2%;
}

.brewery-name-input {
  width: 80%;
  padding: 0 2%;
}

.city-input {
  width: 40%;
}

.state-input {
  width: 30%;
}

.country-input {
  width: 20%;
}
