.brewery-index-item {
  width: 100%;
  // padding: 10px;
  // padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(231, 231, 230);
  // height: 200px;
  // border-gottom
  padding: 20px;
}



.brewery-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.brewery-pic {
  // padding: 30px;
  width: 110px;

  // height:
}

.brewery-display {
  margin-left: 15px;
}

.brewery-display > :first-child {
  font-size: 15px;
}

.brewery-info {
  border-left: 1px solid rgb(231, 231, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  justify-content: center;
  color: rgb(142, 140, 141);
  // width: 100%;
}

.brewery-ratings {
  display: flex;
  flex-direction: row;
  width: 230px;
  border-bottom: 1px solid rgb(231, 231, 230);
  justify-content: center;
  align-items: space-around;
  // align-items: center;
  // border-left: 1px solid red;
  // border-bottom: 1px solid red;
  height: 100%;

}

.brew-border {
  border-right: 1px solid rgb(231, 231, 230);
  // margin-bottom: 13px;
  width: 50%;
  text-align: center;
}

.brew-section {
  width: 50%;
  text-align: center;
}

// .brew-border > :first-child {
//   padding-right: 6px;
// }
//
// .brew-border > :last-child {
//   // padding-left: 6px;
// }

.brewery-right-bottom {
  // padding: 6% 5px 0 5px;
  height: 100%;
  box-sizing: border-box;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line-flex {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  color: rgb(255, 173, 13);
  letter-spacing: 8px;
  font-size: 20px;
}
.brewery-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding: 10px;
}

.add-brewery {
  text-align: center;
  padding: 9px;
  border-radius: 5px;
  background-color: rgb(255, 173, 13);
  color: white;
  width: 120px;
  vertical-align: center;
  text-transform: uppercase;
  font-size: 15x

}

.add-brewery:hover {
  background-color: rgb(195, 131, 6);
}
