.brewery-index-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(231, 231, 230);
  padding: 20px;
  position: relative;
}



.brewery-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.brewery-pic {
  width: 110px;

}

.brewery-display {
  margin-left: 15px;
}

.brewery-display > :first-child {
  font-size: 18px;
}

.brewery-info {
  border-left: 1px solid rgb(231, 231, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(142, 140, 141);
}

.brewery-ratings {
  display: flex;
  flex-direction: row;
  width: 230px;
  border-bottom: 1px solid rgb(231, 231, 230);
  justify-content: center;
  align-items: space-around;
  height: 100%;

}


.brew-border {
  border-right: 1px solid rgb(231, 231, 230);
  width: 50%;
  text-align: center;

}



.brew-section {
  width: 50%;
  text-align: center;
}

.brewery-ratings > section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brewery-right-bottom {
  height: 100%;
  box-sizing: border-box;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line-flex {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  color: rgb(255, 173, 13);
  letter-spacing: 8px;
  font-size: 20px;
}
.brewery-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding: 10px;
}

.brewery-item-wrapper {
  margin-bottom: 2%;
}

.add-brewery {
  text-align: center;
  padding: 9px;
  border-radius: 5px;
  background-color: rgb(255, 173, 13);
  color: white;
  width: 120px;
  vertical-align: center;
  text-transform: uppercase;
  font-size: 15x;

}

.add-brewery:hover {
  background-color: rgb(195, 131, 6);
}

.brewery-loc {
  font-size: 14px;
}

.like-button-container {
  position: absolute;
  padding: 5px 10px;
  background-color: rgb(255, 173, 13);
  color: white;
  top: 45px;
  right: 39%;
  border-radius: 4px;

  text-align: center;
}

.unlike {
}

.like-button-container:hover {
  background-color: rgb(190, 131, 15);
  cursor: pointer;
}

.like-dropdown {
  visibility: hidden;
  font-size: 13px;
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  width: 140%;
  padding: 5px 2px;
  top: 30px;
  left: -7px;
}

.like-button-container:hover .like-dropdown {
  visibility: visible;
}

.like-remove {
  background-color: rgba(115, 113, 113, 0.5);
}

.dropdown-select:hover {
  cursor: pointer;

}

.dropdown-select  option:hover {
  cursor: pointer;
}

.brewery-show-header {
  background-image: url('/images/brewery-background.jpg');
  background-color: rgba(0, 0, 0, 0.75);
  padding-bottom: 3%;
}

.brewery-show-wrapper {
  border: none;

}

.brewery-show-pic {
  width: 170px;
}

.brewery-show-name {
  font-size: 30px !important;
  color: rgb(246, 228, 175);
}

.brewery-show-loc {
  font-size: 20px;
  color: white;
}

.brewery-show-info {
  color: white;
  font-size: 20px;
}

.brewery-ratings {
  align-items: center;
  height: 100%;
}

.brew-border, .brew-section {
  height: 100%;
}
