.checkin-avatar {

  // border: 1px solid red;
  flex: .9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: .5%;
  width: 100%;
}

.checkin-avatar div {
  width: 100%;
}

.checkin-content {
  // border: 1px solid red;
  flex: 6;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  // padding: 1%;
  padding-bottom: 0;
  font-family: 'Lato', sans-serif;
  margin: 0 1.4%;

}

.checkin-beer-avatar {
  // border: 1px solid red;
  flex: .9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: center;
  padding-top: .5%;
  width: 100%;
  // padding-left: 1.5%;
}

.checkin-beer-avatar div {
  width: 100%;
}

.checkin-content > div {
  margin-top: 1.1%;
}


.ratings-container {
  margin-bottom: .9%;
  width: 100%;
  border: 1px solid rgb(203, 203, 199);
  border-radius: 5px;
  padding: 1.2% 1% 1% 1%;
  font-size: 16.5px;
}

.checkin-image {
  padding: 1% 0;
  width: 100%;
  height: 215px;
  overflow: hidden;
  padding-top: 0;
}

.checkin-header {
  font-size: 17.5px;
  margin-bottom: 1%;
}

.checkin-footer {
  padding: 1%;
  width: 100%;
  font-size: 13px;
}

.bar {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  position: relative;

}

.stars {
  position: absolute;
  font-size: 24px;
  top: 3px;
  background-color: white;
  color: transparent;
  z-index: 100;
}

.line-style {
  width: 35%;
}

.checkin-border {
  border-bottom: 1.5px solid rgb(203, 203, 199);
  color: #8e8c8d;
  letter-spacing: 1px;
}

// .checkin-border  :last-child {
//   border: none;
// }

.checkin-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.checkin-content .checkin-review {
  position: relative;
  margin-top: 4%;
  // padding-top: 3px;
}

.arrow {
  border: 1.5px solid rgb(203, 203, 199);
  border-bottom: none;
  border-right: none;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  transform: rotate(45deg);
  top: -7px;;
  left: 30px;
  z-index: 99;
  background-color: white;
}
