.comment-wrapper {
  position: fixed;
  // width: 100%;
  top: 30vh;
  width: 33%;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  z-index: 100;
}

.img-popout {

    position: fixed;
    // width: 100%;
    top: 15vh;
    width: 33%;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    z-index: 100;

}

.comment-wrapper > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.comment-input {
  height: 32%;
  width: 100%;
  resize: none;
  display: block;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(57, 57, 57);
  margin-bottom: 3%;
  background-color: white;
  letter-spacing: 1px;
}

.counter {
  color: rgb(87, 88, 88);
  font-size: 14px;
}

.comment-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.comment-header {
  margin-bottom: 2%;
  color: rgb(255, 173, 13);
}

.comment-button {
  width: 30%;
  padding: 1.5% 5%;
  background-color: blue;
  color: white;
  border-radius: 4px;
  text-align: center;
  background-color: rgb(255, 173, 13);
  font-size: 17px;
  letter-spacing: 2px;
}

.comment-button:hover {
  background-color: rgb(190, 129, 9);
  cursor: pointer;
  transition: .3s;
}

.checkin-form-wrapper {
  width: 42%;
}

.checkin-form-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkin-form-middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  // margin-right: 4%;
  margin-bottom: 2%;
}

.checkin-form-middle > div {
  margin-right: 4%;
}

.checkin-form-bottom {
  margin-bottom: 1.2%;
}
.checkin-slider {
  width: 30%;
}

.location-input-wrapper {
  width: 65%;
}

.location-input {
  width: 100%;
  padding: 2%;
}

.checkin-form-rating {
  font-size: 14px;
  color: rgb(57, 57, 57);
}

.review-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.checkin-form-review {
  width: 80%;
}

.checkin-form-title {
  color: rgb(144, 100, 13);
  font-size: 18px;
}

.checkin-upload {
  color: white;
  background-color: rgb(255, 173, 13);
  font-size: 37px;
  width: 15%;
  margin-bottom: 3%;
  border-radius: 4px;
  padding-left: 2.85%;
  padding-top: .65%;
}

.checkin-upload:hover {
  background-color: rgb(190, 129, 9);
  cursor: pointer;
  transition: .3s;
}

.beer-show-header {
  margin-bottom: -4%;
}

.no-checkin {
  justify-content: center;
}
