.comments-index-wrapper {
  width: 100%;
  padding: 0;
  // position: relative;
  background-color: rgb(246, 246, 246);
  // -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  // box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  border-radius: 4px;

}
.orange {
  color: rgb(180, 124, 16);
}

.delete-comment:hover {
  color: rgb(200, 137, 13);
  cursor: pointer;
}

.comment-item-wrapper {
  width: 100%;
  display: flex;
  padding: 2.2% 1%;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.comment-avatar {
  width: 13%;
}

.comments-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
  align-items: space-between;
  font-size: 14.5px;
}

.comments-body {
  color: rgb(87, 87, 87);
}

.comments-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1%;
  font-size: 14px;
  margin-top: 2%;
  width: 40%;

}
