.comments-index-wrapper {
  width: 100%;
  padding: 0;
  background-color: rgb(246, 246, 246);
  border-radius: 4px;


}

.comments-index-wrapper > :last-child {
  border-style: none;
}
.orange {
  color: rgb(180, 124, 16);
}

.delete-comment:hover {
  color: rgb(200, 137, 13);
  cursor: pointer;
}

.comment-item-wrapper {
  width: 100%;
  display: flex;
  padding: 2.2% 1%;
  border-bottom: 1px solid rgba(180, 124, 16, 0.25);
}

.comment-avatar {
  width: 62px;
  height: 53.75px;
  border-radius: 50%;
  overflow: hidden;
}

.comment-avatar > img {
  border-radius: 50px;
}

.comments-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
  align-items: space-between;
  font-size: 14.5px;
}

.comments-body {
  color: rgb(87, 87, 87);
  line-height: 124%;
  hyphens: auto;
}

.comments-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 1%;
  font-size: 14px;
  margin-top: 2%;
  width: 100%;

}

.comments-footer > span {
  margin-right: 2%;
}
