.comment-wrapper {
  position: absolute;
  width: 37%;
  padding: 10px;
  background-color: rgba(0,0,0,.05);
  border-radius: 4px;
  z-index: 999;
}

.comment-wrapper > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.comment-input {
  height: 30%;
  width: 100%;
  resize: none;
  display: block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
  margin-bottom: 3%;
  background-color: white;
}

.comment-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.comment-header {
  margin-bottom: 2%;
  color: rgb(255, 173, 13);
}

.comment-button {
  width: 20%;
  padding: 1.5% 5%;
  background-color: blue;
  color: white;
  border-radius: 4px;
  text-align: center;
  background-color: rgb(255, 173, 13);
  font-size: 17px;
  letter-spacing: 2px;
}

.comment-button:hover {
  background-color: rgb(190, 129, 9);
  cursor: pointer;
  transition: .3s;
}
