#root {
}
html {

}

body {
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,.05);
}

.nav-container {
  width: 100%;
  background-color: rgb(255, 173, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99999999999999;
  -webkit-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.75);

}

.nav-inside {
  font-family: 'Oxygen', sans-serif;
  color: white;
  font-size: 18px;
  display: flex;
  background-color: transparent;
  width: 850px;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 2px;
  margin: 0 auto;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.nav-inside li {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 170px;
  justify-content: center;

}



.nav-inside > li:hover {
  cursor: pointer;
  background-color: rgba(255, 77, 0, 1);
  transition: .3s;

}

.titlelogo {
  letter-spacing: 3px;
  font-size: 27px;
  font-weight: 700;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: rgba(255, 77, 0, 1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 13px -4px rgba(0,0,0,0.75);


}



.dropdown > div {
  width: 20%;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 12px 0;
  font-size: 15px;

}

.dropdown > div:hover {
  background-color: rgba(247, 96, 0, 0.97);
  transition: .3s;
}
.account-button {
  position: static;
}

.account-button:hover .dropdown {
  visibility: visible;
  transition: 10s ease;
}
