#root {
  overflow: auto;
}
html {
  height: 100%;

}

body {
  height: 100%;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,.05);
  // height: 100%;
}

.nav-container {
  width: 100%;
  background-color: rgb(255, 173, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  height: 4.5%;

}

.nav-inside {
  font-family: 'Oxygen', sans-serif;
  color: white;
  // margin-left: 30%;
  font-size: 18px;
  display: flex;
  background-color: transparent;
  width: 850px;
  flex-direction: row;
  justify-content: center;
  // justify-content: center;
  letter-spacing: 2px;
  margin: 0 auto;
  letter-spacing: 2px;
  // padding: .3% 0;
  text-transform: uppercase;
  position: relative;
}

.nav-inside li {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 170px;
  justify-content: center;

}



.nav-inside > li:hover {
  cursor: pointer;
  background-color: rgba(255, 77, 0, 0.85);
  transition: .3s;

}

.titlelogo {
  letter-spacing: 3px;
  font-size: 27px;
  font-weight: 700;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  visibility: hidden;
  position: absolute;
  top: 97%;
  right: 0;
  width: 100%;
  background-color: rgba(255, 77, 0, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}



.dropdown > li {
  width: 20%;
  box-sizing: border-box;
  // border: 1px solid red;
  text-align: left;
  margin: 0;
  padding: 15px 0;
  font-size: 15px;
}

.dropdown > li:hover {
  background-color: rgba(247, 96, 0, 0.97);
  transition: .3s;
}
//
.account-button {
  position: static;
}

.account-button:hover .dropdown {
  visibility: visible;
  transition: 10s ease;
}
