div, h1, h2, body, html, header, nav, a, ul, li, main, section, img, p, form, i, label, input, textarea, span, article, footer, time, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}


ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.upload-button {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
input[type="file"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"], input[type="password"] {
  border: 1.2px solid #bdbaba;
  border-radius: 3px;
}

button,
input[type="submit"] {
  cursor: pointer;
}
