.splash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


 .splash-container {
  //  display: flex;
  //  flex-direction: column;
   position: relative;
  //  justify-content: center;

  //  background-color: red;
   background-image: url('/assets/beer.jpeg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: 10% 90%;
   background-size: cover;
   width: 100%;
   height: 700px;
  //  height: 825px;
   background-color: rgba(0,0,0,0.7); // Tint color
   background-blend-mode: multiply;
 }

 .auth-button-container {
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding: 15px 15px;
  //  position: fixed;
  //  font-size: 20%;
 }

 .auth {
   margin-right: 20px;
   padding: 15px 30px;
   text-transform: uppercase;
   border: 3px solid white;
   border-radius: 5px;
   color: white;
   font-family: 'Work Sans', sans-serif;
   font-size: 90%;
   font-weight: bold;

 }


 .splash-inner {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 50px;
  //  font-size: 80%;

  //  padding:
 }

 .splash-inner > div {
   width: 500px;
   height: 500px;
   color: white;
 }

 .splash-inner > :first-child {
   display: flex;
   margin-right: 4%;
   text-align: center;
   font-color: white;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }

 .splash-inner > :last-child {
   margin-left: 2%;
 }

 .demo {
   width: 100%;
 }

 .demo-button {
   border: 2px solid white;
   width: 95%;
   border-radius: 5px;
   padding: 8px 0;
   background-color: rgba(0, 91, 130, 0.8);
   font-weight: 400;
   box-sizing: border-box;
   text-transform: uppercase;

 }

 .demo-button:hover {
   background-color: rgba(5, 36, 50, 1);
 }

 article > h1 {
   font-size: 40px;
   letter-spacing: 4px;
 }



 .splash-inner > :first-child > article {
   font-family: 'Oxygen', sans-serif;
   font-weight: 700;
   font-size: 35px;
  //  width: 40%;
 }
 .two {
   display: flex;
   flex-direction: column;
   align-items: center

 }

 .hops {
   width: 50%;
 }


 .auth:hover {
   cursor: pointer;
   background-color: white;
   color: black;
 }

 .bottom-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 50px;
    //  font-size: 80%;

    //  padding:
  font-color: black;
 }

 .bottom-wrapper > div {
   width: 500px;
   height: 500px;
   color: black;
   text-align: center;
   font-family: 'Oxygen', sans-serif;
 }

 .bottom-wrapper > :first-child {
   margin-right: 15%;
 }
  div > h2 {
    margin: 15% 0 5% 0;
    font-size: 35px;
    text-transform: uppercase;

  }

  div > p {
    margin-bottom: 3%;
    font-size: 20px;
  }
 // .bottom-inner {
 //   display: flex;
 //   flex-direction: column;
 //   flex-align: center;
 // }

.splash-footer {
  font-family: 'Oxygen', sans-serif;
  color: white;
  font-size: 15px;
  display: block;
  background-color: rgb(13, 0, 15);
  width: 100%;
  margin-top: 3%;
  text-align: right;
  padding: 1%;
  padding-right: 5%;
  letter-spacing: 3px;
}

// .modal-container {
//   display: flex;
//   position: relative;
//   flex-direction: column;
//   justify-content: center;
//  //  background-color: white;
//    position: absolute;
//    width: 1
//    top: 10%;
//   //  height: 300px;
//   //  width: 40%;
// }
.modal {
  box-sizing: border-box;
  border-radius: 7px;
  border: 2px solid;
  border-color: rgb(189, 186, 186);
  background-color: white;
  position: absolute;
  z-index: 999;
  width: 30%;
  // height: 30%;
  // add padding instead of height
  display: flex;
  align-items: flex-start;
  top: 10%;
  left: 50%;
  margin-left: -15%;
}

.auth-form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  //   box-sizing: border-box;
  //   border-radius: 7px;
  //   border-color: rgba(0, 91, 130, 0.8);
  //   background-color: white;
  //  //  top: 100%;
  height: 100%;
  // justify-content: space-around;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 96%;
}

.hidden {
  display: none;
}

.auth-form-container > h1 {
  font-weight: 700;
  text-align: center;
  margin: 10% 0 0 0;
  width: 100%;
  font-size: 5vw;
  overflow: hidden;
  letter-spacing: 4px;
  color: rgb(255, 173, 13);
}

.beer-color {
  color: rgb(252, 220, 0);
}


.auth-form-container > h2 {
  margin-top: 1%;
  margin-bottom: 10%;
  font-size: 1.1vw;
  color: rgb(255, 173, 13);
  align-text: center;
  letter-spacing: 2px;
  display: relative;
}

.auth-input {
  margin-bottom: 10%;
  width: 100%;
  height: 33px;
  padding: 5px 10px;
  font-size: 93%;
  color: rgb(102, 102, 102);

}

.auth-submit {
  width: 100%;
  padding: 3%;
  font-family: 'Oxygen', sans-serif;
  border: 1px solid rgb(213, 215, 215);
  text-align: center;
  cursor: pointer;
  background-color: rgb(255, 173, 13);
  color: white;
  text-transform: uppercase;
  margin-bottom: 10%;
  border-radius: 3px;
}

.auth-submit:hover {
  background-color: rgb(207, 118, 0);
}

.close {
  position: absolute;
  top: 2%;
  right: 3%;

}
.close:after {
  content: '✖';
  font-size: 1.5vw;
  color: rgb(56, 56, 56);
}

.auth-rule {
  width: 100%;
  margin: 0;
  padding: 0;
  border-color: rgb(255, 173, 13);
}

.auth-switch {
  margin: 5%;
  color: rgb(189, 186, 186);
}

.auth-switch span {
  color: rgb(255, 173, 13);
  cursor: pointer;

}

.modal-background {
  z-index: 99;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.8);
}
