.splash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


 .splash-container {
  //  display: flex;
  //  flex-direction: column;
   position: relative;
  //  justify-content: center;

  //  background-color: red;
   background-image: url('/assets/beer.jpeg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: 10% 90%;
   background-size: cover;
   width: 100%;
   height: 700px;
  //  height: 825px;
   background-color: rgba(0,0,0,0.7); // Tint color
   background-blend-mode: multiply;
 }

 .auth-button-container {
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding: 15px 15px;
  //  position: fixed;
  //  font-size: 20%;
 }

 .auth {
   margin-right: 20px;
   padding: 15px 30px;
   text-transform: uppercase;
   border: 3px solid white;
   border-radius: 5px;
   color: white;
   font-family: 'Work Sans', sans-serif;
   font-size: 90%;
   font-weight: bold;

 }


 .splash-inner {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 50px;
  //  font-size: 80%;

  //  padding:
 }

 .splash-inner > div {
   width: 500px;
   height: 500px;
   color: white;
 }

 .splash-inner > :first-child {
   display: flex;
   margin-right: 4%;
   text-align: center;
   font-color: white;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }

 .splash-inner > :last-child {
   margin-left: 2%;
 }

 .demo {
   width: 100%;
 }

 .demo-button {
   border: 2px solid white;
   width: 95%;
   border-radius: 5px;
   padding: 8px 0;
   background-color: rgba(0, 91, 130, 0.8);
   font-weight: 400;
   box-sizing: border-box;

 }

 .demo-button:hover {
   background-color: rgba(5, 36, 50, 1);
 }

 article > h1 {
   font-size: 40px;
 }



 .splash-inner > :first-child > article {
   font-family: 'Oxygen', sans-serif;
   font-weight: 700;
   font-size: 35px;
  //  width: 40%;
 }
 .two {
   display: flex;
   flex-direction: column;
   align-items: center

 }

 .hops {
   width: 50%;
 }


 .auth:hover {
   cursor: pointer;
   background-color: white;
   color: black;
 }

 .bottom-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 50px;
    //  font-size: 80%;

    //  padding:
  font-color: black;
 }

 .bottom-wrapper > div {
   width: 500px;
   height: 500px;
   color: black;
   text-align: center;
   font-family: 'Oxygen', sans-serif;
 }

 .bottom-wrapper > :first-child {
   margin-right: 15%;
 }
  div > h2 {
    margin: 15% 0 5% 0;
    font-size: 35px;
    text-transform: uppercase;

  }

  div > p {
    margin-bottom: 3%;
    font-size: 20px;
  }
 // .bottom-inner {
 //   display: flex;
 //   flex-direction: column;
 //   flex-align: center;
 // }

.splash-footer {
  font-family: 'Oxygen', sans-serif;
  color: white;
  font-size: 15px;
  display: block;
  background-color: rgb(13, 0, 15);
  width: 100%;
  margin-top: 3%;
  text-align: right;
  padding: 1%;
  padding-right: 5%;
  letter-spacing: 3px;
}

.modal-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
 //  background-color: white;
   position: absolute;
   top: 10%;
  //  height: 300px;
  //  width: 40%;
}
.modal {
  box-sizing: border-box;
  border-radius: 7px;
  border: 2px solid;
  border-color: rgba(0, 91, 130, 0.8);
  background-color: white;
  //  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
 //  top: 100%;
 height: 350px;
}

.auth-form-container {
  padding: 10% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  //   box-sizing: border-box;
  //   border-radius: 7px;
  //   border-color: rgba(0, 91, 130, 0.8);
  //   background-color: white;
  //  //  top: 100%;
  height: 100%;
  // justify-content: space-around;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
